<div ng-controller="mycoursesController">

  <div class = "coursediv">
  <h2 class = "coursehead"> My Courses </h2></div>
  <p class = "coursespan">
    <span><a href = "#mycourses/">9th Standard</a></span>
    <span><a href = "#mycourses1/">10th Standard</a></span>
    <span><a href = "#mycourses2/">11th Standard</a></span>
    <span><a href>12th Standard</a></span>
  <p>

  <div class="area"></div>
    <nav class="main-menu">
        <ul>

           <li>
                <a href>
                    <i><img src="../media/logo.png"></i>
                </a>      
            </li> 
            <li>
                <a href="#subjects">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">Subjects</span>
                </a>      
            </li>

            <li class="has-subnav">
                <a href="#mycourses">
                    <i class="fa fa-bookmark fa-2x"></i>
                    <span class="nav-text">My Courses</span>
                </a>       
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">User</span>
                </a>
            </li>

             <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-sign-out fa-2x"></i>
                    <span class="nav-text">Log Out</span>
                </a>
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-copyright fa-2x"></i>
                    <span class="nav-text">PuStack</span>
                </a>
            </li>

        </ul>
    </nav>

  <div class="container" id = "coursecont">
    <div class="row">

      
      <div class="col-sm-4">
        <div class="wrapper">
          <div class="card radius shadowDepth1">

            <div class="card__image border-tlr-radius">
              <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">

              <div class="card__share">
                <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
              </div>

              <div class="card__meta">
                <a href="#">Divyam Gupta</a>
                <time>17th March</time>
              </div>

              <article class="card__article">
                <h2><a href="#">History</a></h2>
                <p>
                  <span style = "font-size:15px;" class = "descrip">History for class 10th and closely follows the CBSE board.</span>
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="wrapper">
          <div class="card radius shadowDepth1">

            <div class="card__image border-tlr-radius">
              <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">

              <div class="card__share">
                <a id="share" class=" share-icon" href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
              </div>

              <div class="card__meta">
                <a href="#">Divyam Gupta</a>
                <time>17th March</time>
              </div>

              <article class="card__article">
                <h2><a href="#">Chemistry</a></h2>
                <p>
                  <span style = "font-size:15px;" class = "descrip">Chemistry for class 10th and closely follows the CBSE board.</span>
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
</div>