<div ng-controller = "subjectController">
    
    <h2 class = "coursehead"> Subjects </h2>

    <nav class="main-menu">
        <ul>

           <li>
                <a href>
                    <i><img src="../media/logo.png"></i>
                </a>      
            </li> 
            <li>
                <a href="#subjects">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">Subjects</span>
                </a>      
            </li>

            <li class="has-subnav">
                <a href="#mycourses">
                    <i class="fa fa-bookmark fa-2x"></i>
                    <span class="nav-text">My Courses</span>
                </a>       
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">User</span>
                </a>
            </li>

             <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-sign-out fa-2x"></i>
                    <span class="nav-text">Log Out</span>
                </a>
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-copyright fa-2x"></i>
                    <span class="nav-text">PuStack</span>
                </a>
            </li>

        </ul>
    </nav>

    <div class="coursecat">
        <h4>9th Standard</h4>
    </div>

    <div class="carousel">
        <div class="wrapper" ng-repeat="subject in subjects.subjectsList[0]" ng-click="subjects.selectedSubject = subject">
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="{{subject.imageURL}}" alt="image" class="border-tlr-radius subimg">
                </div>

                <div class="card__content card__padding">

                    
                    <div class="card__meta">
                        <a href="#">{{subject.author}}</a>
                    </div>

                    <article class="card__article">
                        <h2><a href="#lectures/{{subjects.selectedSubject._id}}">{{subject.name}}</a></h2>
                        <p>
                            <span style = "font-size:15px; width:30%;" class = "summary">{{subject.description}}</span>
                        </p>
                    </article>

                </div>
            </div>
        </div>
    </div>

    <div class="coursecat">
        <h4>10th Standard</h4>
    </div>
    
    <div class="carousel">
        <div class="wrapper" ng-repeat="subject in subjects.subjectsList[0]" ng-click="subjects.selectedSubject = subject">
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="{{subject.imageURL}}" alt="image" class="border-tlr-radius subimg">
                </div>

                <div class="card__content card__padding">

                    
                    <div class="card__meta">
                        <a href="#">{{subject.author}}</a>
                    </div>

                    <article class="card__article">
                        <h2><a href="#lectures/{{subjects.selectedSubject._id}}">{{subject.name}}</a></h2>
                        <p>
                            <span style = "font-size:15px; width:30%;" class = "summary">{{subject.description}}</span>
                        </p>
                    </article>

                </div>
            </div>
        </div>
    </div>

    <div class="coursecat">
        <h4>11th Standard</h4>
    </div>
    
    <div class="carousel">
        <div class="wrapper" ng-repeat="subject in subjects.subjectsList[0]" ng-click="subjects.selectedSubject = subject">
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="{{subject.imageURL}}" alt="image" class="border-tlr-radius subimg">
                </div>

                <div class="card__content card__padding">

                    
                    <div class="card__meta">
                        <a href="#">{{subject.author}}</a>
                    </div>

                    <article class="card__article">
                        <h2><a href="#lectures/{{subjects.selectedSubject._id}}">{{subject.name}}</a></h2>
                        <p>
                            <span style = "font-size:15px; width:30%;" class = "summary">{{subject.description}}</span>
                        </p>
                    </article>

                </div>
            </div>
        </div>
    </div>

    <div class="coursecat">
        <h4>12th Standard</h4>
    </div>
    
    <div class="carousel">
        <div class="wrapper" ng-repeat="subject in subjects.subjectsList[0]" ng-click="subjects.selectedSubject = subject">
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="{{subject.imageURL}}" alt="image" class="border-tlr-radius subimg">
                </div>

                <div class="card__content card__padding">

                
                    
                    <div class="card__meta">
                        <a href="#">{{subject.author}}</a>
                    </div>

                    <article class="card__article">
                        <h2><a href="#lectures/{{subjects.selectedSubject._id}}">{{subject.name}}</a></h2>
                        <p>
                            <span style = "font-size:15px; width:30%;" class = "summary">{{subject.description}}</span>
                        </p>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>
