<div ng-controller="videosController">
	<ol class="breadcrumb">
    <li><a href="#" class = "breadtrail">History</a></li>
  	<li><a href="#" class = "breadtrail">Chapter 1</a></li>
  </ol>

  <!--<div class="area"></div>-->
  <nav class="main-menu">
        <ul>

           <li>
                <a href>
                    <i><img src="../media/logo.png"></i>
                </a>      
            </li> 
            <li>
                <a href="#subjects">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">Subjects</span>
                </a>      
            </li>

            <li class="has-subnav">
                <a href="#mycourses">
                    <i class="fa fa-bookmark fa-2x"></i>
                    <span class="nav-text">My Courses</span>
                </a>       
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">User</span>
                </a>
            </li>

             <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-sign-out fa-2x"></i>
                    <span class="nav-text">Log Out</span>
                </a>
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-copyright fa-2x"></i>
                    <span class="nav-text">PuStack</span>
                </a>
            </li>

        </ul>
    </nav>
  <nav id="lecturemenu">
    <h1>hello</h1>
    <ul>
      <li><a href="#">Chapter 1</a></li>
      <li><a href="#">Chapter 2</a>
        <ul>
          <li><a href="#">Lecture 1</a></li>
          <li><a href="#">Lecture 2</a></li>
          <li><a href="#">Lecture 3</a></li>
        </ul>
      </li>
      <li><a href="/contact">Chapter 3</a></li>
    </ul>
  </nav>

  <div class="holdvid">
    <iframe class="divyam" src="https://www.youtube.com/embed/yeuGVgD8abg"></iframe>
  </div>

  <div class="vibut">
    <a href="#videos"><button type="button" class="btn btn-primary">Previous</button><a>
  </div>

  <script type="text/javascript" src="./lib/mmenu/dist/js/jquery.mmenu.all.min.js"></script>

  <!-- Fire the plugin onDocumentReady -->
  <script type="text/javascript">
    $(document).ready(function() {
      $("#lecturemenu").mmenu();
    });
  </script>
</div> 